.all {

    .total {
        display: flex;
        justify-content: space-between;
        position: absolute;
        margin-top: 20px;
        width: 90vw;
        font-size: 30px;
        text-align: right;
        font-weight: bold;
        display: flex;
        margin-inline: 20px;
    }

    .checkout {
        all: unset;
        text-align: center;
        margin-top: 60px;

        .buy-items {
            all: unset;
            cursor: pointer;
            padding: 8px;
            border: 1px solid black;
            border-radius: 8px;
            transition: .3s all ease;

            &:hover{
                letter-spacing: 2px;
            }
        }
    }

    .cart-cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }
}

@media screen and (max-width : 768px) {
    .all {
        .total {
            font-size: 5vw;
        }
    }
}