$lightpurle : rgb(227, 7, 143);

header {
    padding-inline: 100px;
    padding-block: 30px;
    color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
        a {
            all: unset;
        }

        font-size: 40px;
        font-family: 'Dancing Script',
        cursive;
        transition: .3s all ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }


    .ham-section {
        position: relative;
        display: none;

        .ham-button {
            all: unset;
            cursor: pointer;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;

            .ham1,
            .ham2,
            .ham3 {
                height: 5px;
                background-color: white;
                transition: .3s all ease;
            }

            .ham2 {
                width: 40px;
            }

            .ham1,
            .ham3 {
                width: 60px;
            }

            &:hover .ham1 {
                width: 20px;
            }

            &:hover .ham3 {
                width: 20px;
            }

            &:hover .ham2 {
                width: 60px;
            }
        }

        .nav {
            position: absolute;
            left: -200%;
            display: flex;
            gap: 20px;
            flex-direction: column;
            background-color: #333;
            padding: 20px;
            border-radius: 20px;


            li {
                all: unset;

                button {
                    cursor: pointer;
                    all: unset;
                    width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    svg {
                        width: 40px;
                        transition: .3s all ease;
                        cursor: pointer;
                    }

                    p {
                        color: #333;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 20px;
                        background-color: skyblue;
                        border-radius: 50%;
                        padding: 8px;
                    }

                    &:hover svg {
                        color: teal;
                    }
                }

                a {
                    all: unset;
                    cursor: pointer;

                    &:hover {
                        color: $lightpurle;
                    }
                }
            }
        }
    }

    nav {
        ul {
            display: flex;
            align-items: center;
            gap: 20px;

            li {
                all: unset;

                button {
                    cursor: pointer;
                    all: unset;
                    width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    svg {
                        width: 40px;
                        transition: .3s all ease;
                        cursor: pointer;
                    }

                    p {
                        color: #333;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 20px;
                        background-color: skyblue;
                        border-radius: 50%;
                        padding: 8px;
                    }

                    &:hover svg {
                        color: teal;
                    }
                }

                a {
                    all: unset;
                    cursor: pointer;
                    position: relative;
                    font-size: 20px;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -20%;
                        width: 0;
                        height: 4px;
                        background-color: $lightpurle;
                        transition: .3s all ease;
                    }

                    &:hover::after {
                        width: 100%
                    }
                }
            }
        }
    }
}


header.active {
    color: white;
    background-color: black;
}

@media screen and (max-width: 768px) {
    header {
        padding-inline: 40px;

        nav {
            display: none;
        }

        .ham-section {
            display: block;
        }
    }

}